<form>
    <input type="number" [(ngModel)]="num1" name="num1">
    <br>
    <input type="number" [(ngModel)]="num2" name="num2">
    <br>
    <button (click)="onClickSum()">Somar</button>
    <br>
    <button (click)="onClickSub()">Subtrair</button>
    <br>
    <button (click)="onClickMul()">Multiplicar</button>
    <br>
    <button (click)="onClickDiv()">Dividir</button>
    <br>
    <button (click)="onClickPot()">Potênciar</button>
    <br>
    <button (click)="onClickRad()">Radiciar</button>
    <label>{{sum}}</label>
</form>
